PyMuPDF>=1.23.0
Pillow>=10.0.0
grpcio
grpcio-tools
protobuf
numpy
opencv-python
onnx
VietOCR>=0.3.13
torch>=1.9.0
torchvision
gdown
pyclipper
pyvi
transformers
sentence-transformers
faiss-cpu
spacy 
spacy-transformers
llama-cpp-python